/*//////////////////////////////////////////////
GLOBAL STYLES//////////////////////////
GLOBAL STYLES//////////////////////////
//////////////////////////////////////////////*/
/*Text Selection*/
*::selection {
	background: $darkblue;
	color:$white;
	text-shadow: 0 0 transparent;}

.line-break{
  display: block;
}

/*Media Query Mixins*/
@mixin bp($point) {
  @if $point == iphone{
    @media (min-width: 320px) { @content; }
  }
  @else if $point == extra-small {
    @media (min-width: 480px)  { @content; }
  }
  @else if $point == small {
    @media (min-width: 768)  { @content; }
  }
  @else if $point == medium {
    @media (min-width: 992)  { @content; }
  }
  @else if $point == large {
    @media (min-width: 1200px)  { @content; }
  }
}

.container {
  @media screen and (min-width: 1400px) {
    width: 1345px;
  }
  @media screen and (min-width: 1600px) {
    width: 1530px;
  }
  @media screen and (min-width: 1800px) {
    width: 1720px;
  }
}

.comic-sans {
  font-family: "Comic Sans", "Comic Sans MS";
}

.overflow {
  overflow: hidden;
}

a {
  &:link,
  &:hover,
  &:active,
  &:visited {
  color: $white;
  text-decoration: none;
  outline: none;
  }
}

.collaborators {
  &:first-of-type{
    &:not(:nth-last-of-type(2)){
      &:not(:last-of-type){
        &::after {
          content: ",";
        }
      }
    }
  }
  &:last-of-type{
    &:not(:first-of-type){
      &::before {
        content: "and ";
      }
    }
  }
  &:not(:last-of-type){
    &:not(:first-of-type){
      &::after {
        content: ",";
      }
    }
  }
}

#comic-sans {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border: 0;
  background: transparent;
  width: 100%;
  height: 10px;
  z-index: 9999999;
  outline: none;
}
