body {
	background-color: $red;	
	color: $white;
	overflow-x: hidden;
	font-family: "azo-sans-web",sans-serif;
}
.home {
	overflow-y: hidden;
}

.overflow {
	overflow: hidden;
}

/*Loader*/
.no-js #loader {
    display: none;
}
.btn:focus {
  outline: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    background: url('../../img/bigonewhite.gif') center no-repeat #000;
    background-size: 30%;
    @media (max-width: 800px) {
    	background-size: 40%;
    }
    @media (max-width: 650px) {
    	background-size: 50%;
    }
    @media (max-width: 500px) {
    background-size: 20%;
    }
}
/*End Loader*/

img {
	width: 100%;
}

#logo {
	position: fixed;
	width: 305px;
	height: 437px;
	top: 44%;
	bottom: 56%;
	margin: auto;
	padding-bottom: 25px;
	left: 90px;
	z-index: -9999;
	background-image: url('../../img/logo.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-indent: -9999px;
	opacity: 1;
	transition: .5s;
}

a {
	&:link,
	&:hover,
	&:active,
	&:visited {
	color: $white;
	text-decoration: none;
	outline: none;
	}
}

.in-range {
	.featured-project-image {
		display: block;
	}
	.name {
		text-decoration: underline;
	}
}

.in-range-overridden {
	.featured-project-image {
		display: none;
	}
	.name {
		text-decoration: none;
	}
}

.hovered {
	.featured-project-image {
		display: block;
	}
	.name {
		text-decoration: underline;
	}
}

.underlined {
	text-decoration: underline;
}

.display-block {
	display: block;
}


.intro {
	margin-top: 200px;
	margin-bottom: 100px;
	color: $white;
	background-color: $red;
	h2 {
	line-height: 1;
	font-size:6rem;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	}
	p {
		transform: translate(0,-12px);
	}
	ul {
		list-style-type: none;
		padding: 6px 0 0 0;

	}
	li {
		font-size: 2rem;
		display: inline;
		padding-right: 30px;
		color: white;
		letter-spacing: 0.2px;
	}
	a {
		color: white;
	}
	a:hover {
		cursor: pointer;
	}
}

.scca-student-name {
	font-size: 100px;
	line-height: 1;
	margin-top: 350px;
	margin-bottom: 350px;
	&:last-of-type {
		margin-bottom: 0;
	}
	@media screen and (min-width: 1600px) {
		font-size: 140px;
	}
	@media screen and (min-width: 1800px) {
		font-size: 160px;
	}
}

.scca-student-photo img {
	position: fixed;
	top: 50%;
	right: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: -999;
	height: auto;
	width: 80%;
	display: none;
}

.sticky {
	top: 0;
	position: fixed;
}
.justify-center{
	display: flex;
	flex-flow:row wrap;
	justify-content: space-around;
	align-items: center;
}
#video-container {
	width: 100%;
	height: 100vh;


	img {
		width: 280px;
		height: 400px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

//quick vars. use these for the play button hover.
$trans: .05s;
$xVal: 2px;
$yVal: 10px;

	.inner-video-container{
		svg#play-button{
			transition:$trans;
			overflow: visible;
			width:30%;
			#left-piece,
			#right-piece{
				transition: inherit;
				fill:$white;
				stroke: $white;
				stroke-width:1px;
			}
		}
		a:hover > .videothumb > svg#play-button{
			#left-piece{
					transform: translate3d($xVal,-$yVal,0);
			}
			#right-piece{
					transform: translate3d($xVal,$yVal,0);
			}
		}
	}
}

.gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#433a97+0,b1246e+51,ee2624+82,ee2624+100&1+0,1+72,0+100 */
	background: #433a97; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(67,58,151,1) 0%, rgba(177,36,110,1) 51%, rgba(218,37,60,1) 72%, rgba(238,38,36,0.64) 82%, rgba(238,38,36,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(67,58,151,1) 0%,rgba(177,36,110,1) 51%,rgba(218,37,60,1) 72%,rgba(238,38,36,0.64) 82%,rgba(238,38,36,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(67,58,151,1) 0%,rgba(177,36,110,1) 51%,rgba(218,37,60,1) 72%,rgba(238,38,36,0.64) 82%,rgba(238,38,36,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#433a97', endColorstr='#00ee2624',GradientType=0 ); /* IE6-9 */
}
.gradient-rotated{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee2624+0,ee2624+18,b1246e+49,433a97+100&0+0,1+28,1+100 */
background: #433a97; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,38,36,0) 0%, rgba(238,38,36,0.64) 18%, rgba(218,37,60,1) 28%, rgba(177,36,110,1) 49%, rgba(67,58,151,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(238,38,36,0) 0%,rgba(238,38,36,0.64) 18%,rgba(218,37,60,1) 28%,rgba(177,36,110,1) 49%,rgba(67,58,151,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(238,38,36,0) 0%,rgba(238,38,36,0.64) 18%,rgba(218,37,60,1) 28%,rgba(177,36,110,1) 49%,rgba(67,58,151,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ee2624', endColorstr='#433a97',GradientType=0 ); /* IE6-9 */
}

#pageBottom{
	min-height:100vh;
	padding-top:100px;
	position: relative;
	.showinfo{
		margin: 0 0 30px 0;
	}
	color:$white;
	li{
		display: inline-block;
		margin:0 10px 0 0;
		transform: translate3d(0,25px,0);
		&:nth-of-type(1){
			
		}
		&:nth-of-type(2){
			
		}
		&:nth-of-type(3){
			
		}
	}
}

.collaborators {
	&:first-of-type{
		&:not(:nth-last-of-type(2)){
			&:not(:last-of-type){
				&::after {
					content: ",";
				}
			}
		}
	}
	&:last-of-type{
		&:not(:first-of-type){
			&::before {
				content: "and ";
			}
		}
	}
	&:not(:last-of-type){
		&:not(:first-of-type){
			&::after {
				content: ",";
			}
		}
	}
}
.dateAndTime {
		font-size:1.5rem;
		letter-spacing: 2.7px;
		position: relative;
		top:-30px;
	}
#pageBottom {

	h2 {
		line-height: 1;
		font-size:6rem;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
	}
	
	.thanks {
		margin-bottom: 70px;
		p {
			font-size: 13px;
			line-height: 1.6;

		}
	}
	.parking {
		a {
			font-weight: 700;
		}
	}
}
.intro p {
	transform: translate(0, 0);
}
#pageBottom p,
#pageBottom li {
	line-height: 1.25;
	font-size: 2rem;
	letter-spacing: 0.4px;
	transform: translate(0, -24px);

}

@media screen and (max-width: 992px) {

#logo {
		position: relative;
		z-index: auto;
		display: none;
		margin-left: auto;
		margin-right: auto;
		top: auto;
		right: auto;
	}

	.intro {
		margin-top: 50px;
	}
}

@media screen and (max-width: 768px) {

	.intro {
		h2.sticky {
			display: block;
			text-align: center;
			font-size: 2rem;
		    position: -webkit-sticky;
		    position: sticky;
		    top: 10px;
			}
		h2 {
			font-size: 4rem;
			}
		p {
			line-height: 1.5;
			font-size: 2rem;
		}
	}
	#pageBottom {
		.showinfo {
			margin-bottom: 10px;
		}
		.container {
			margin:0 25px 0 25px;
		}
	h2 {
		line-height: 1;
		font-size:3.5rem;
		letter-spacing: 0.5px;
		margin-bottom: 24px;
		text-align: center;
	}
	
	.thanks {
		margin-bottom: 40px;
		p {
			font-size: 11px;
			line-height: 1.6;
			margin-bottom: 50px;
		}
	}
	.parking {
		a {
			text-decoration: underline;
			&:hover{
				text-decoration:none;
			}
		}
		p {
			font-size: 17px;
		}
	}
}
.dateAndTime {
	font-size: 1.1rem;
	letter-spacing: 1.5px;
		position: relative;
		top:-20px;
}
.intro p {
	margin-top: 20px;
}

	.intro p,
#pageBottom p,
#pageBottom li {
	line-height: 1.5;
	font-size: 2rem;
}
	.student-list {
		position: relative;
	}
	.scca-student-name {
			margin-top: 415;
			margin-bottom: -5px;
			font-size: 5rem;
		}  

	.scca-student-photo img {
		margin: auto 0;
		width: 100%;
		height: auto;
		display: block;
		position: absolute;
		top: auto;
		transform: translate(0,-50%);
	}

	.mobile-add-margin {
		margin-right: 15px;
		margin-left: 15px;
	}

	.mobile-no-margin {
		margin-right: -15px;
		margin-left: -15px;
	}
	
}

@media screen and (max-width: 450px) {
	.student-list {
		position: relative;
	}
	.scca-student-name {
			margin-top: 207px;
			margin-bottom: 81px;
			font-size: 5rem;
		}  

	.scca-student-photo img {
		margin: auto 0;
		width: 100%;
		height: auto;
		display: block;
		position: absolute;
		top: auto;
		transform: translate(0,-150%);
	}
}


#logo {
	opacity: 0;
}

#logo.opacity-zero {
	opacity: 1;
}

#comic-sans {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	border: 0;
	background: transparent;
	width: 100%;
	height: 10px;
	z-index: 9999999;
	outline: none;
}
