@media screen and (max-width: 768px) {
	.caption-box .col-sm-5 p {
	width: 100%;
	margin: 0 auto;
	}
	.module {
		margin-bottom: 200px;
		img {
			margin-bottom: 15px;
		}
	}
	.profile-footer {
		margin-bottom: 200px;
		.student-url {
				font-size: 30px;
		}
	}
	.centered-excerpt {
		margin-bottom: 200px;
	}

	.single p {
		font-size: 17px;
		line-height: 25px;
		margin-top: 15px;
	}

	.centered-excerpt p {
		font-size: 23px;
		line-height: 31px;
		margin-top:0;
	}

	.single .project-introduction p {
		font-size: 23px;
		line-height: 31px;
		margin-top:0;
	}

	#student-name {
		font-size: 30px;
	}

	.project-header {
		h2 {
		font-size: 20px;
		}
	}

	.single .profile-header {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
		text-align: center;
		margin-bottom: 200px;
		padding-top: 75px;

		img {
			width: 230px;
		}
	}

	.single .header p {
		font-size: 17px;
		position: absolute;
		left: 80px;
		top:20px;
		margin-top:0;
	}
	.menu-text {
		font-size: 17px;
	}
	.header p {
    left: 76px;
}
	

}

@media (min-width: 768px) and (max-width: 992px) {
	.single {
		p {
			font-size: 14px;
		}
	}
	.caption-box .col-sm-5 p {
	width: 90%;
	}
	

}