.single {
	padding:0 15px;
a:hover {
text-decoration:underline;
}
color: $darkblue;
overflow-x: hidden;
}
.caption-alternate {
	opacity: 0;
	transition: .5s;
	&.opacity-toggle {
		opacity: 1;
	}
}
.home {
	.menu-text {
		color: $white;
	}
	.trigger-open-color {
			color: $darkblue;
		}

}


/*Social Icon in Navbar*/
.social-icon-frame {
	width: 40px;
	height: 40px;
	background-image: url('../../img/social-icon-frame.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	span {
		position: absolute;
		top: -99px;
		bottom: -99px;
		left: -99px;
		right: -99px;
		margin: auto;
	}
	&:hover {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		span {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		}
	}
}
.social-icon-frame-white {
	width: 40px;
	height: 40px;
	background-image: url('../../img/social-icon-frame-white.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	span {
		position: absolute;
		top: -99px;
		bottom: -99px;
		left: -99px;
		right: -99px;
		margin: auto;
	}
	&:hover {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		span {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		}
	}
}
/*End Social Icon in Navbar*/


#parent div{
	padding-bottom: 20px;
	padding: 0 5px 16px 5px;
}
.profile-header-wrapper {
	height: 100vh;
	position: relative;
	margin-top:0 !important;
}
.single .header p {
	font-size: 20px;
	}
 .student-name.sticky {
     position: fixed;
     top: 700px;
     right: 500px;
     z-index: 99999;

  }
.single {

		.purple {
			opacity: 1;
		}

		.white {
			display: none;
		}

		header.header {
			z-index: 99999999;
		}

		.primary-nav {
			z-index: 9999999;
		}

		.menu-text {
			color: $darkblue;
		}

		.trigger-open-color {
			color: $darkblue;
		}

		iframe {
			z-index: 9999;
		}

		background: $white;
		color: $darkblue;

		a {
			z-index: 999999;
			&:hover, &:link, &:active, &:visited{
				color: darkblue;
			}
		}

		p {
			font-size: 16px;
		}

		.student-name {
				z-index: 99999;
				text-align: center;
				margin-top: 30px;
				font-size: 40px;
			}
			

		.profile-header {
			position: absolute;
		    top: 48%;
		    left: 50%;
		    margin-right: -50%;
		    transform: translate(-50%, -52%);
			text-align: center;
			margin-bottom: 200px;
			padding-top: 75px;
			transition: opacity .5s;

 
			p {
				font-size: 20px;
				margin-bottom: 36px;
			}
			img {
				width: 270px;
				height: auto;
				display: block;
				margin: 0 auto;
			}
			p {
				opacity: 1;
				transition: opacity .5s;
			}
			img {
				opacity: 1;
				transition: opacity .5s;
			}

		}//end .profile header

		.scroll-opacity {
			opacity: 0;
			transition: opacity .5s;
		}

		.project-header {
			color: $darkblue;

			h2 {
			text-align: center;
			color: $darkblue;
			font-size: 40px;
			margin-bottom: 75px;
			}

			p {
				font-size: 12px;
				letter-spacing: 0.6px;
				margin: -60px 0 60px 0;
				text-align: center;
			}

			a {
				&:active, &:link, &visited {
					font-weight: 700;
				}

				&:hover {
					text-decoration: underline;
				}
			}

		}//end .project-header


		.project-featured-image {
			margin-bottom: 100px;
		}

		.project-introduction {
			margin-bottom: 300px;

			p {
				font-size: 30px;
			}
		}

		.profile-footer {
			text-align: center;
			color: $darkblue;

			p {
				margin-bottom: 25px;
				@media screen and (min-width: 768px) {
				font-size: 50px;
			}
			}

			.social-icons {
				margin-bottom: 100px
			}

		}//end .profile-footer

		
.container>div>.caption-box {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 768px) {
	    width: 750px;
	}
	@media (min-width: 992px) {
	    width: 970px;
	}
	@media (min-width: 1200px) {
	    width: 1170px;
	 }
}
}


@media screen and (min-width: 768px) {
	.centered-excerpt {
		margin-bottom: 300px;
		margin-top: -120px;

		p {
			font-size: 30px
		}
	}

	.caption-box {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: -999999999;
		
		div {
			margin-top: 15%;
		}

		.bwb-push-0 {
			margin-left: 0;
			left: auto;
			right: auto;
		}

		.bwb-push-1 {
			margin-left: calc(8.333333% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-2 {
			margin-left: calc(16.666666667% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-3 {
			margin-left: calc(25% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-4 {
			margin-left: calc(33.333333333% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-5 {
			margin-left: calc(41.6666666667% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-6 {
			margin-left: calc(50% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-7 {
			margin-left: calc(58.333333333333% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-8 {
			margin-left: calc(66.66666666667% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-9 {
			margin-left: calc(75% + 5px);
			left: auto;
			right: auto;
		}

		.bwb-push-10 {
			margin-left: calc(83.3333333333% + 5px);
			left: auto;
			right: auto;
		}
	}//end .caption-box

	.module {
		margin-bottom: 400px;
		
		img {
			margin-bottom: 15px;
	}

		p.caption {
			opacity: 0;
			transition: 0.5s;
		}

		.caption.opacity-toggle {
			opacity: 1;
		}
	}//end .module
}//end min-width 768


.bottom-img-container {
	position: relative;
	width: 100%;
	padding-top: 55%;
	overflow: hidden;
	margin-bottom: 30px;
	img {
		position: absolute;
		top: -9999px;
		left: -9999px;
		bottom: -9999px;
		right: -9999px;
		margin: auto;
		display: block;
		min-width: 100%;
		min-height: 100%;
	}
	.name{
		color: $white;
		text-decoration: underline;
		position: absolute;
		z-index: 9999;
		text-align: center;
		bottom: calc(50% - 20px);
		height: 20px;
		left: 0px;
		width:100%;
		font-size: 1.9rem;
		opacity:0;
	}

	@media (min-width: 992px) {
		background:$darkblue;
			img{
				mix-blend-mode: luminosity;
				opacity:.9;
			}
			.name{
				font-size: 2rem;
				opacity:0;
			}
			&:hover img{
						mix-blend-mode: normal;
						opacity: 1;
			}
	}

}


.bottom-nav {
	margin-left: -15px;
	margin-right:-15px;
	background: $darkblue;
	background: -webkit-linear-gradient(0deg, $darkblue, $white);
	background: -o-linear-gradient(0deg, $darkblue, $white);
	background: -moz-linear-gradient(0deg, $darkblue, $white);
	background: linear-gradient(0deg, $darkblue, $white);
	svg {
		height: 50px;
		cursor: pointer;
		display: inline-block;
		@media screen and (max-width: 768px) {
			height: 30px;
		}
	}

	.bottom-svg {
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: 75px;
		margin-bottom: 25px;
	}

path {
	fill: transparent !important;
	stroke: $darkblue !important;
}

.active {
	path {
  fill: $darkblue !important;
  stroke: $darkblue !important;
  transition: all .2s;
}
}

}





.single .col-sm-6 .caption{
	@media (min-width: 768px){
	width:70%;
	margin-left:auto;
	margin-right: auto;
}
}


/*Media Queries*/
@media screen and (max-width: 768px) {
	.single{

		.caption-box .col-sm-5 p {
			width: 100%;
			margin: 0 auto;
		}

		.module {
			margin-bottom: 200px;
				
				img {
					margin-bottom: 15px;
				}
		}

		.profile-footer {
			margin-bottom: 200px;
				.student-url {
					font-size: 30px;
				}
		}

		.centered-excerpt {
			margin-bottom: 200px;
		}

		p {
			font-size: 17px;
			line-height: 25px;
			margin-top: 15px;
		}

		.centered-excerpt p {
			font-size: 23px;
			line-height: 31px;
			margin-top:0;
		}

		.single .project-introduction p {
			font-size: 23px;
			line-height: 31px;
			margin-top:0;
		}

		.student-name {
			font-size: 20px;
		}

		.project-header {
			h2 {
				font-size: 20px;
			}
		}

		.profile-header {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			text-align: center;
			margin-bottom: 200px;
			padding-top: 75px;

			img {
				width: 230px;
			}
		}

		.header p {
			font-size: 17px;
			position: absolute;
			left: 80px;
			top:20px;
			margin-top:0;
		}

		.menu-text {
			font-size: 17px;
		}

		.header p {
			left: 76px;
		}
	}//end .single
}//end max-width 768


@media (min-width: 768px) and (max-width: 992px) {
	.single {
		
		p {
			font-size: 14px;
		}

		.caption-box .col-sm-5 p {
			width: 90%;
		}

		.secondary-overflow {
			width: 100%;
			overflow-x: hidden;
		}
	}//end .single
}//end 768–992s


