.home {
	.menu-text {
		color: $white;
	}

	.trigger-open-color {
			color: $darkblue;
		}


}

.single {

		.purple {
			opacity: 1;
		}

		.white {
			display: none;
		}

		header.header {
			z-index: 99999999;
		}

		.primary-nav {
			z-index: 9999999;
		}

		.menu-text {
			color: $darkblue;
		}

		.trigger-open-color {
			color: $darkblue;
		}

		

		iframe {
			z-index: 9999;
		}

		background: $white;
		color: $black;
		padding-top: 25px;

		/*.home-button {
			text-transform: uppercase;
			position: fixed;
			z-index: 999999;
			top: 25px;
			left: 25px;
			a {
				display: block;
			}
			i {
				font-size: 25px;
			}
			span {
				margin-left: 5px;
				font-size: 20px;
			} 
		}*/

		a {
			&:hover, &:link, &:active, &:visited{
				color: $black;
			}
		}

		p {
			font-size: 20px;
		}

		#student-name {
				position: fixed;
				z-index: 99999;
				left: 35px;
				right: 35px;
				top: 0;
				width: calc(100% - 70px);
				text-align: center;
				font-size: 36px;
				transition: font-size 1s;
			}
			#student-name.scrolled-name {
				font-size: 20px;
			}

		.profile-header {
			
			text-align: center;
			margin-bottom: 200px;
			padding-top: 75px;

			h1 {
			margin-bottom: 15px;
			}
 
			p {
				font-size: 20px;
				margin-bottom: 36px;
			}
			img {
				width: 235px;
				height: auto;
				display: block;
				margin: 0 auto;
			}
			p {
				opacity: 1;
				transition: opacity .5s;
			}
			img {
				opacity: 1;
				transition: opacity .5s;
			}
 

		}

		.scroll-opacity {
				p {
					opacity: 0;
				}
				img {
					opacity: 0;
				}
			}

		.project-header {
			text-align: center;
			color: $black;
			margin-bottom: 75px;

			a {
				&:hover, &:active, &:link, &visited {
					color: $black;
				}
			}

		}


		.project-featured-image {
			margin-bottom: 100px;
		}

		.project-introduction {
			margin-bottom: 300px;
		}

		.profile-footer {
			text-align: center;

			p {
				margin-bottom: 25px;
				@media screen and (min-width: 768px) {
				font-size: 50px;
			}
			}

			.social-icons {
				margin-bottom: 100px
			}

		}

		


		@media screen and (min-width: 768px) {

				.margin-bottom-400px {
					margin-bottom: 400px;
				}

				.caption-box {
					position: fixed;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					height: 100%;
					width: 100%;
					z-index: -999999999;
					div {
						margin-top: 15%;
					}
					
					.bwb-push-0 {
						margin-left: 0;
						left: auto;
						right: auto;
					}
					.bwb-push-1 {
						margin-left: calc(8.333333% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-2 {
						margin-left: calc(16.666666667% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-3 {
						margin-left: calc(25% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-4 {
						margin-left: calc(33.333333333% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-5 {
						margin-left: calc(41.6666666667% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-6 {
						margin-left: calc(50% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-7 {
						margin-left: calc(58.333333333333% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-8 {
						margin-left: calc(66.66666666667% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-9 {
						margin-left: calc(75% + 5px);
						left: auto;
						right: auto;
					}
					.bwb-push-10 {
						margin-left: calc(83.3333333333% + 5px);
						left: auto;
						right: auto;
					}
				}

				.module {
					margin-bottom: 400px;
					img {
						margin-bottom: 15px;
					}
					p.caption {
						opacity: 0;
						transition: 0.5s;
					}
					.caption.opacity-toggle {
					opacity: 1;
				}

				}

		}


.container>div>.caption-box {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 768px) {
	    width: 750px;
	}
	@media (min-width: 992px) {
	    width: 970px;
	}
	@media (min-width: 1200px) {
	    width: 1170px;
	 }
}


@media screen and (max-width: 768px) {

	.home-button {
					span {
						display: none;
					}
				}
	.module {
		margin-bottom: 200px;
		img {
			margin-bottom: 15px;
		}
	}
	p {
		font-size: 16px;
	}
	.profile-footer {
		margin-bottom: 200px;
		.student-url {
				font-size: 30px;
		}
	}
	.margin-bottom-400px {
		margin-bottom: 200px;
	}
}



	}