*,:after,:before {
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.primary-nav img {
	width: 100%;
}

.primary-nav svg {
  height: 30px;
}

.active path {
  fill: #433a97 !important;
  transition: all .2s;
}

.indexName a {
	color: #433a97;
	font-size: 12px;
}

#parent div {
	transition: all .5s;
}
.purple {
	color: #433a97;
	transition: all .5s;
}
.white {
	transition: all .5s;
}
.opacity {
	opacity: 0;
	transition: all .5s;
}
.primary-nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 2;
	text-align: center;
	padding: 60px 0;
	backface-visibility: hidden;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	transform: translateY(-100%);
	transition-property: transform;
	transition-duration: .4s;
}

.primary-nav.visible {
	transform: translateY(0);
}

.primary-nav li {
	list-style-type: none;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0.3px;
	color: #9891d4;
	text-align: center;
	transition: all .3s;
	color: transparent;
	-webkit-text-stroke-width: 0.8px;
	-webkit-text-stroke-color: #433a97;
	cursor: pointer;
}

.primary-nav ul {
	padding-top: 50px;
	webkit-padding-start: 0 !important;
}

.primary-nav .row {
	padding-bottom: 40px;
}

.primary-nav a {
	display: inline-block;
	padding: .4em 1em;
	border-radius: .25em;
	transition: background .2s;
}

.primary-nav ul {
	-webkit-padding-start: 0 !important;
}

.active li {
	transition: all .2s;
	color: #433a97;
	-webkit-text-stroke-color: #433a97;
}

.header {
	position: absolute;
	top: 10px;
	left: 0;
	height: 80px;
	width: 100%;
	z-index: 3;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.header img {
	position: absolute;
	left: 20px;
	max-width: 50px;
}

.header p {
	position: absolute;
	left:90px;
	top:20px;
}

.menu-text {
	font-weight: 700;
	text-decoration: none;
	transition: all .5s;
	font-size: 20px;
	letter-spacing: 0.5px;
}

.trigger {
	position: absolute;
	right: 25px;
	top: 33px;
	background-color: transparent;
	bottom: auto;
	transform: translateY(-50%);
}
.header.is-fixed {
	position: fixed;
	top: -70px;
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	transition: transform .3s;
}

.header.visible {
	-webkit-transform: translate3d(0,100%,0);
	-moz-transform: translate3d(0,100%,0);
	-ms-transform: translate3d(0,100%,0);
	-o-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

@media (min-width: 520px) {
	.indexName a {
		color: #433a97;
		font-size: 18px;
	}

	.primary-nav li {
		font-size: 50px;
	}

	.primary-nav svg {
    	height: 50px;
  	}

	.filters .row:first-child {
		padding-bottom: 60px;
	}
	.primary-nav li {
	-webkit-text-stroke-width: 1.25px;
	}
}

@media (min-width: 768px) {
	.trigger {
		right: 35px;
	}

	.header img {
		left: 30px;
	}

	.indexName a {
		color: #433a97;
		font-size: 12px;
	}
}
@media (min-width: 1200px) {
	.indexName a {
		color: #433a97;
		font-size: 21px;
	}
	.primary-nav ul {
		padding-top: 50px;
	}
}
.trigger-open-color {
	  color: white;
	  transition: all .5s;
	}